<div class="row" style="margin-bottom: 1em;">
    <div style="position: relative; left: -50%; float: right; overflow: visible; margin-bottom: 1em;">
        <div style="position: relative; left: 50%;">
            <div class="textColumn backgroundBox" style="max-width: 42em;" ng-if="step == 1">

                <h2 data-i18n="_proposalTypeQuestion_"></h2>

                <div style="clear: both; text-align: justify; margin-top: 2em;">
                    <button class="green" data-i18n="_newRefinementButton_"
                            style="margin-right: 1em; display: inline-block;"
                            ng-click="setProposalType('refinement')"></button>
                    <button class="green" data-i18n="_newProposalButton_"
                            style="display: inline-block;"
                            ng-click="setProposalType('proposal')"></button>
                    <div style="display: inline-block; width: 100%; height: 0;"></div>
                </div>

                <div style="clear: both;"></div>

                <p class="tipp" data-i18n="_ProposalTypeHelp_" style="margin-top: 1em;"></p>
                <p class="tipp" data-i18n="_ProposalTypeHelpTactics_"></p>
                {{ getNodePath() }}

                <div style="clear: both;"></div>
            </div>

            <div ng-if="step == 2" ng-mouseup="stopDrag()">
                <div class="textColumn backgroundBox" style="margin-right: 1em; max-width: 42em;">
                    <label for="proposalHeading" data-i18n="_proposalHeading_"></label>
                    <input id="proposalHeading" type="text"
                           ng-model="$parent.heading"
                           style="font-size: 200%;" />

                    <textarea style="width: calc(100% - 6px); height: 250px;"
                              ng-model="$parent.text"></textarea>

                    <ul ng-include="'/static/partials/create/subsection.html'"></ul>

                    <div style="clear: both;"></div>
                </div>
            </div>

            <div ng-if="step == 3" ng-include="'/static/partials/create/argument.html'"></div>

            <div class="textColumn backgroundBox" style="margin-right: 1em; max-width: 42em;" ng-if="step == 4">

                    <h2 data-i18n="_summaryHeading_"></h2>

                    <h3 data-i18n="_proposalText_"></h3>
                    <div creole wiki-text="text" update-interval="5000"></div>
                    <h3 data-i18n="_argumentText_"></h3>
                    <div creole wiki-text="argumentText" update-interval="5000"></div>

                    <div style="clear: both;"></div>
            </div>



            <div style="clear: both; margin: 1em 0 8em 0; max-width: 42em;">
                <button class="right" data-i18n="_nextButton_"
                        ng-class="{'green': (step != 2) || proposalIsChanged()}"
                        style="margin-left: 1em;" ng-click="nextStep();" ng-if="(step > 1) && (step < 4)"></button>
                <button class="green right" data-i18n="_createButton_"
                        style="margin-left: 1em;" ng-click="submit();" ng-if="step == 4"></button>
                <button class="red right" data-i18n="_backButton_"
                        style="margin-left: 1em;" ng-click="previousStep();"
                        ng-if="step > 1"></button>
                <button class="red right" data-i18n="_cancelButton_"
                        ng-if="step == 1" ng-click="cancelProposal();"></button>
            </div>
        </div>
    </div>
</div>