
.sectionExpander {
    background: url('../images/expand_collapse.svg') no-repeat 0 0;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    float: left;
    margin-right: 4px;
}

.sectionExpander:hover {
    background-position: 0 -20px;
}

.sectionCollapser {
    background: url('../images/expand_collapse.svg') no-repeat -20px 0;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    float: left;
    margin-right: 4px;
}

.sectionCollapser:hover {
    background-position: -20px -20px;
}