.graphdata {
    text-align: center;
}

div#graph {
    /*margin: 0;
    overflow: hidden;*/
}

div#graph div.fixpoint {
    width: 0;
    height: 0;
    margin: auto;
    padding: 0;
    border: 0 solid black;
    overflow: visible;
    display: block;
    text-align: left;
    vertical-align: top;
    position: relative;
}

div#graph div.arrow {
    height: 0;
    width: 120px;
    top: 0;
    left: 0;
    display: block;
    border-bottom: 4px solid black;
    border-left: 5px solid red;
    position: relative;
    margin: 0;
}

div#graph div.masspoint {
    width: 0;
    height: 0;
    margin: auto;
    padding: 0;
    border: 0 solid black;
    overflow: visible;
    display: block;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

div.whitener {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: white;
    position: relative;
    top: -13px;
    left: -13px;
}

div.circle {
    border: 2px solid black;
    min-width: 33px;
    padding: 0 3px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin: 0;
    border-radius: 40px;
    cursor: pointer;
}

div.diagram_container {
    width: 0;
    height: 0;
    overflow: visible;
    position: relative;
    top: -23px;
    left: -23px;
}

div#graph div.circle {
    position: relative;
    left: -15px;
    top: -15px;
    display: inline-block;
    overflow: visible;
}

div#newProposal {
    position: absolute;
    right: 10px;
    top: 33px;
    overflow: visible;
}

div#rawgraph div {
    margin: 1px 1px 1px 1em;
    border: 1px solid #d3d3d3;
}