<div class="preCentering">
    <div class="centered backgroundBox textContainer">
        <div ng-show="content!=undefined" ng-bind-html-unsafe="content"></div>
        <div ng-show="content==undefined">
            <h1>Findeco</h1>
            <p>
                Findeco ist ein OpenSource Projekt das seit 2012 entwickelt wird.
                Es ist dual unter der
                <a href="http://www.gnu.org/licenses/gpl.html">
                    GPLv3
                </a>
                und der
                <a href="http://www.mozilla.org/MPL/2.0/">
                    Mozilla Public License 2.0
                </a>
                lizensiert ist.
            </p>
            <p>
            Du findest den Quellcode in unserem
            <a href="https://github.com/Qwlouse/Findeco">
                Github Repository
            </a>.
            </p>
            <h2>Credits</h2>
            Dieses fantastische Webprojekt ist das Werk von (alphabetisch):
            <ul>
                <li><a href="http://johannes.merkert.info">Johannes Merkert</a></li>
                <li>Karola Marky</li>
                <li>Klaus Greff</li>
                <li>Maik Nauheim</li>
            </ul>
            Mit freundlicher Unterstützung von (alphabetisch):
            <ul>
                <li>Andreas Brühl (Yoga)</li>
                <li>Klaus Brand</li>
                <li>Lisa Collins</li>
                <li>Kevin Honka</li>
                <li>Nina Faulhaber</li>
                <li><a href="http://krohlas.de">Sven Krohlas</a></li>
                <li>RP:AG Meinungsfindung</li>
                <li>Justus Wingert</li>
            </ul>
        </div>
    </div>
</div>
