<div class="preCentering">
    <div class="centered backgroundBox textContainer">
        <h1 data-i18n="{{ title }}"></h1>
    	<p data-i18n="{{ text }}"></p>

        <div class='help-error' ng-show="error" data-i18n="{{ error.errorID }}"></div>

        <form ng-submit="activate()" ng-show='!completed'>
            <input type="text" placeholder="{{'_accountActivationKey_'| i18n}}" ng-model="activationKey" style="width:40em;"><br>
            <input type="submit" value="{{ submitButton | i18n}}">
        </form>

    </div>
</div>
