<div id="leftColumn"  class="contentBox" ng-controller="FindecoArgumentCtrl">
    <help hid=1 htype=1> </help><h3 class="argumentHeading" data-i18n="_argumentsPro_"></h3>
<div style="clear: both"></div>
    <div ng-show="argumentList.length <1 " class="tipp" style="text-align: center">Es gibt zur Zeit keine<br>Pro-Argumente</div>

    <ul class="argumentList">
        <li ng-repeat="argument in argumentList | filter: {argType:'pro'}">
                <span follow-star show-if="user.isLoggedIn" entity="argument" mark-func="markNode" width="16"
                      style="float:none; top: 0;"></span>
            <a href="/{{ argument.path }}">{{argument.fullTitle}}</a>
        </li>
  
        <li ng-show="user.isLoggedIn">
            <a class="btn btn-primary" href="/create/argumentPro/{{ nav.nodePath }}"
               ng-click="tmp.argumentType = 'Pro'" data-i18n="_argumentsNewPro_"></a>
        </li>
    </ul>
    <help hid=2 htype=1> </help><h3 class="argumentHeading" data-i18n="_argumentsNeut_"></h3>
    <div style="clear: both"></div>
    <div ng-show="argumentList.length <1 " class="tipp" style="text-align: center">Es gibt zur Zeit keine<br>Neutralen Argumente</div>
    <ul class="argumentList">
        <li ng-repeat="argument in argumentList | filter: {argType:'neut'}">
                <span follow-star show-if="user.isLoggedIn" entity="argument" mark-func="markNode" width="16"
                      style="float:none; top: 0;"></span>
            <a href="/{{ argument.path }}">{{argument.fullTitle}}</a>
        </li>
        
        <li ng-show="user.isLoggedIn">
            <a class="btn btn-primary" href="/create/argumentNeut/{{ nav.nodePath }}"
               ng-click="tmp.argumentType = 'Neutral'" data-i18n="_argumentsNewNeut_"></a>
        </li>
    </ul>
    <help hid=3 htype=1> </help><h3 class="argumentHeading" data-i18n="_argumentsCon_"></h3>
    <div style="clear: both"></div>
    <div ng-show="argumentList.length <1 " class="tipp" style="text-align: center">Es gibt zur Zeit keine<br>Contra-Argumente</div>
    <ul class="argumentList">
        <li ng-repeat="argument in argumentList | filter: {argType:'con'}">
                <span follow-star show-if="user.isLoggedIn" entity="argument" mark-func="markNode" width="16"
                      style="float:none; top: 0;"></span>
                      
            
            <a href="/{{ argument.path }}">{{argument.fullTitle}}</a>
        </li>
   
        
        <li ng-show="user.isLoggedIn">
            <a class="btn btn-primary" href="/create/argumentCon/{{ nav.nodePath }}"
               ng-click="tmp.argumentType = 'Contra'" data-i18n="_argumentsNewCon_"></a>
             
        </li>
       
    </ul>
       	<div ng-show="isLoading()" class="deactivateDiv">
    </div>
   	<div ng-show="isLoading()" class="deactivateSpinner">
    </div>

    <div class="tipp">In dieser Spalte werden alle <a href="http://www.findeco.de/hilfe/argumente/" class="tippLink">Argumente</a> zum <a href="http://www.findeco.de/hilfe/verortung-von-vorschlagen/" class="tippLink">Thema</a> gesammelt.</div>

    <div ng-show="!user.isLoggedIn" class="tipp" style="text-align: center">
    	Wenn du selbst ein Argument hinzufügen möchtest, kannst du dich hier  <a class="link" href="/register/"
   >anmelden</a> oder hier <a class="link" href="/register/"
   >registrieren</a>
             
	<div>
</div>