<div ng-controller="FindecoArgumentCtrl">
    <help hid='ARG' htype=1></help>
    <h2 class="argumentHeading" data-i18n="_arguments_">Arguments</h2>

    <div style="clear: both"></div>

    <div ng-show="argumentList.length < 1" class="tipp" style="text-align: center">
        <span data-i18n="_noArgumentsYet_">Es gibt noch keine</span><br/><span data-i18n="_noArgumentsYet2_">Argumente</span>
    </div>

    <ul class="argumentList">
        <li ng-repeat="argument in argumentList" id="argument{{ argument.index }}">
            <span class="argumentIcon argument_{{ argument.argType }}"></span>
            <a href="/{{ argument.path }}" class="argumentHeading">
                {{ argument.fullTitle }}
            </a>
            <span follow-star show-if="user.isLoggedIn" entity="argument" mark-func="markNode" width="16"
                  style="float:none; top: 0;"></span>
            <span class="followerCount">{{ argument.followingCount }}</span>
            <p creole wiki-text="argument.wikiText"></p>
            <a ng-show="argument.index != fullyShow && argument.text.length > 140"
               ng-click="updateArgumentsWikiText(argument.index)" class="moreLink">... mehr</a>
        </li>

        <li ng-show="user.isLoggedIn">
            <a class="btn btn-primary" href="/create/argument/{{ nav.nodePath }}"
               ng-click="tmp.argumentType = 'Neut'" data-i18n="_argumentsNew_"></a>
        </li>
    </ul>

    <div ng-show="isLoading()" class="deactivateDiv"></div>
    <div ng-show="isLoading()" class="deactivateSpinner"></div>

    <div class="tipp">
        <span data-i18n="_argumentPanelText_">In dieser Spalte werden alle</span>
        <a href="http://www.findeco.de/hilfe/argumente/" class="tippLink" data-i18n="_argumentPanelText2_">Argumente</a><span data-i18n="_argumentPanelText3_"> zum </span>
        <a href="http://www.findeco.de/hilfe/verortung-von-vorschlagen/" class="tippLink" data-i18n="_argumentPanelText4_">Thema</a>
        <span data-i18n="_argumentPanelText5_">gesammelt.</span>
    </div>

    <div ng-show="!user.isLoggedIn" class="tipp" style="text-align: center">
        <span data-i18n="_argumentLogIn_">Wenn du selbst ein Argument hinzufügen möchtest, kannst du dich hier</span>
        <a class="link" href="/register/" data-i18n="_argumentLogIn2_">anmelden</a> <span data-i18n="_argumentLogIn3_">oder hier</span>
        <a class="link" href="/register/" data-i18n="_argumentLogIn4_">registrieren</a>
    </div>
</div>