<div id="contentContainer" class="centeringContainer" xmlns="http://www.w3.org/1999/html">
    <div class="contentBox leftWideColumn">
        <h2 ng-show="showIf(['argumentPro'])" data-i18n="_argumentsNewPro_"></h2>

        <h2 ng-show="showIf(['argumentNeut'])" data-i18n="_argumentsNewNeut_"></h2>

        <h2 ng-show="showIf(['argumentCon'])" data-i18n="_argumentsNewCon_"></h2>

        <h2 ng-show="showIf(['topic'])" data-i18n="_createNewText_"></h2>

        <h2 ng-show="showIf(['derivate'])" data-i18n="_createDerivativeText_"></h2>

        <h2 ng-show="showIf(['opposing'])" data-i18n="_createOpposingText_"></h2>

        <form ng-submit="submit()">
            <h3 ng-show="showIf(['derivate'])" data-i18n="_argumentForThisModification_"></h3>
            <textarea ng-show="showIf(['argumentPro','argumentNeut','argumentCon','topic','derivate'])"
                      style="width: 100%; height: 250px; "
                      ng-model="tmp.text"></textarea><br>

            <h3 ng-show="showIf(['derivate'])" data-i18n="_textForThisModification_"></h3>
            <textarea ng-show="showIf(['derivate','opposing'])"
                      style="width: 100%; height: 250px; "
                      ng-model="tmp.textAlternative"></textarea><br>

            <button ng-show="showIf(['derivate'])" type="button" class="btn btn-primary" ng-model="tmp.argumentType"
                    btn-radio="'neut'" data-i18n="_neut_"></button>

            <button ng-show="showIf(['derivate'])" type="button" class="btn btn-primary" ng-model="tmp.argumentType"
                    btn-radio="'con'" data-i18n="_con_"></button>

            <input ng-show="showIf(['argumentPro','argumentNeut','argumentCon'])" class="btn btn-primary" type="submit"
                   value="{{'_argumentsCreateSendBtn_'|i18n}}">
            <input ng-show="showIf(['topic'])" class="btn btn-primary" type="submit"
                   value="{{'_topicCreateSendBtn_'|i18n}}">
            <input ng-show="showIf(['derivate'])" class="btn btn-primary" type="submit"
                   value="{{'_derivateCreateSendBtn_'|i18n}}">
            <input ng-show="showIf(['opposing'])" class="btn btn-primary" type="submit"
                   value="{{'_opposingCreateSendBtn_'|i18n}}">
        </form>
    </div>
    <div class="contentBox rightWideColumn">
        <h2 ng-show="showIf(['derivate'])" data-i18n="_argumentPreview_"
            style="border-bottom: 1px dotted gray;"></h2>
        <div ng-bind-html-unsafe="parse(tmp.text)"></div>
        <h2 ng-show="showIf(['derivate'])" data-i18n="_textPreview_"
            style="border-bottom: 1px dotted gray; border-top: 2px dotted black;"></h2>
        <div ng-bind-html-unsafe="parse(tmp.textAlternative)"></div>
    </div>
    <div class="contentBox rightWideColumn" style ="margin-top:20px;">
		<h2 data-i18n="_editorHintTitle_"></h2>

        <p>{{ '_editorHintBeginning_'|i18n }}<a href='http://wikicreole.org/wiki/Creole1.0'>
        {{ '_editorHintCreoleLink_'|i18n }}</a>{{ '_editorHintEnd_'|i18n }}</p>

        <p>{{ '_editorLicenseHintBeginning_'|i18n }}
            <a href='http://creativecommons.org/licenses/by-sa/3.0/de/'>
                {{ '_editorLicenseHintLink_'|i18n }}</a>{{ '_editorLicenseHintEnd_'|i18n }}</p>
    </div>
</div>