<div id="contentContainer" class="centeringContainer" xmlns="http://www.w3.org/1999/html">
    <div id="centerColumn" class="contentBox">
        <span class="btn btn-primary createNav" ng-click="relocate('createNewText')">Neuen Text anlegen</span>
        <span class="btn btn-primary createNav" ng-click="relocate('createAlternativeText')">Alternativtext anlegen</span>
        <span class="btn btn-primary createNav" ng-click="relocate('createArgument')">Argument anlegen</span>
        <br><br>
        <form ng-submit="submit('alternative')">
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Neutral'">Neutral</button>
                <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Contra'">Contra</button>
            </div>
            <textarea style="width: 100%; height: 400px; " placeholder="Your alternative Text goes here!"
                      ng-model="tmp.text"></textarea><br>
            <input class="btn btn-primary" type="submit" value="postArgument">
        </form>
        <div ng-show="tmp.text.length > 0" ng-bind-html-unsafe="parse(tmp.text)"></div>
    </div>
</div>