<div id="contentContainer" class="centeringContainer" xmlns="http://www.w3.org/1999/html">
    <div id="leftWideColumn" class="contentBox">
        <span class="btn btn-primary createNav" ng-click="relocate('createArgument')" data-i18n="_argumentsNew_" ></span>
        <span class="btn btn-primary createNav" ng-click="relocate('createNewText')" data-i18n="_textNew_" ></span>
        <span class="btn btn-primary createNav"
              ng-click="relocate('createAlternativeText')"  data-i18n="_alternativeTextNew_" ></span>
        <br><br>

        <form ng-submit="submit('new')">
            <textarea style="width: 100%; height: 400px; " placeholder="{{'_textNewTextHere_'|i18n}}"
                      ng-model="tmp.text"></textarea><br>
            <input class="btn btn-primary" type="submit" value="{{'_textCreateSendBtn_'|i18n}}">
        </form>
    </div>
    <div id="rightWideColumn" class="contentBox">
        <div ng-bind-html-unsafe="parse(tmp.text)"></div>
    </div>
</div>