<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">

    </div>

    <div id="centerColumn" class="contentBox">
        <h1>Credits</h1>
        Dieses fantastische Webprojekt ist das Werk von:
        <ul>
            <li>Klaus Greff</li>
            <li>Johannes Merkert</li>
            <li>Justus Wingert</li>
            <li>Maik Nauheim</li>
        </ul>
        Mit freundlicher Unterstützung von:
        <ul>
            <li>Lisa 'Alyama' Collins</li>
            <li>Sven Krohlas</li>
            <li>Kevin Honka</li>
            <li>Nina Faulhaber</li>
            <li>Andreas Brühl (Yoga)</li>
            <li>Andreas Pohl</li>
            <li>Klaus Brand</li>
            <li>RP:AG Meinungsfindung</li>
        </ul>
    </div>

    <div id="rightColumn" class="contentBoxInvisible">

    </div>

</div>