<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">

    </div>

    <div id="centerColumn" class="contentBox">
        <h1>Datenschutzerklärung</h1>
        Wir bemühen uns auf dieser Seite möglichst wenige personenbezogene Daten zu erfassen. Daher werden diese nur im technisch notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft oder aus an Dritte weitergegeben. Ausnahmen hierzu stellen nur verpflichtende Weitergaben z.B. an Ermittlungsbehörden dar.
         
		<h2>Datenverarbeitung auf dieser Internetseite</h2>
		Ihr Computer oder Browser übermittelt bestimmte Daten an uns, diese sind je nach Browser- und Betriebssytemtyp, -version und -einstellung unterschiedlich. Dazu gehören unter anderem:
		<ul>
			<li>Uhrzeit der Serveranfrage.</li>
			<li>Betriebssystem</li>
			<li>Browsertyp und Version</li>
			<li>Referrer URL (die zuvor besuchte Seite)</li>
			<li>Hostname des zugreifenden Rechners (IP Adresse)</li>	
		</ul>
		<h2>Cookies</h2>
		Findeco verwendet Cookies um Daten über Sie zu speichern. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Viren. Die meisten der von uns verwendeten Cookies sind sogenannte „Session-Cookies“ und werden nach Ende Ihres Besuchs automatisch gelöscht. In ihren Browsereinstellungen können sie die Annahme von Cookies unterbinden, was allerdings zu fehlfunktionen oder dem nichtfunktionieren von Findeco führen kann.
		<h2>Registrierung</h2>
		Zur Registrierung auf demo.findeco.de ist eine Emailadresse erforderlich. Zu keinem Zeitpunkt werden wir ihre E-Mailadresse weitergeben oder ihnen unaufgefordert Emails zusenden. Sie erhalten dort ausschließlich für den Systembetrieb notwendige EMail, sofern sie nicht der Verwendung für die Zusendung von Newslettern oder automatischen Benachrichtigungen explizit zustimmen. Zu den für den Systembetrieb notwendigen Mails gehören z.B.
		<ul>
			<li>Emails bei Accounterstellung</li>
			<li>Emails zur Passwortwiederherstellung</li>
			<li>Emails zur Accountlöschung</li>
		</ul>	
	 	<h2>Accountlöschung</h2>
		Eine Accountlöschung ist zur Zeit nicht automatisch möglich. Wir arbeiten zur Zeit an der Implementierung. Sie können aber unter serverbetrieb@manano.de jederzeit eine Accountlöschung anfordern.
		
		 
    </div>

    <div id="rightColumn" class="contentBoxInvisible">

    </div>

</div>