<div id="contentContainer" class="centeringContainer">
    <div ng-include src="'static/partials/argument.html'"></div>

    <div id="centerColumn" class="contentBox">
        <div spam-mark show-if="user.isLoggedIn" entity="nodeInfo" mark-func="markNode"></div>
        <div follow-star show-if="user.isLoggedIn" entity="nodeInfo" mark-func="markNode"></div>
        <h1>{{ nodeInfo.fullTitle }}</h1>

        <div ng-show="!isArgument">
            <div findeco-graph data="graphData" path="path" class="graph"></div>
        </div>
        <p ng-bind-html-unsafe="parse(nodeInfo.wikiText, 'ignored')"></p>

        <div ng-show="!allExpanded &&  !isArgument" class="btn btn-primary" ng-click="expandAll()"
             data-i18n="_expandAllSections_"></div>
        <div ng-repeat="section in nodeInfo.indexList">
            <a ng-show="!section.isExpanded" ng-click="expandSection(section)"
               style="float:left;position: relative; top:  14px; margin-right: 5px;"><img
                    src="static/images/expand.png"></a>
            <a ng-show="section.isExpanded" ng-click="collapseSection(section)"
               style="float:left;position: relative; top:  14px; margin-right: 5px;"><img
                    src="static/images/collapse.png"></a>

            <h2 ng-show="!section.isExpanded">
                <a href="/#/{{ getPath(section.shortTitle + '.' + section.index) }}">{{section.fullTitle}}</a>
            </h2>

            <div class="sectionText" ng-show="section.isExpanded" ng-repeat="paragraph in section.paragraphs">
                <div spam-mark show-if="user.isLoggedIn" entity="paragraph" mark-func="markNode"></div>
                <div follow-star show-if="user.isLoggedIn" entity="paragraph" mark-func="markNode"></div>
                <div ng-bind-html-unsafe="parse(paragraph.wikiText,paragraph.path)"></div>
            </div>
        </div>
        <div ng-show="!isArgument && user.isLoggedIn" class="btn btn-primary" ng-click="relocate('create/topic')"
             data-i18n="_createNewText_"></div>

        <div ng-show="!isArgument && user.isLoggedIn" class="btn btn-primary" ng-click="relocate('create/derivate')"
             data-i18n="_createDerivativeText_"></div>

        <div ng-show="!isArgument && user.isLoggedIn" class="btn btn-primary" ng-click="relocate('create/opposing')"
             data-i18n="_createOpposingText_"></div>

        <div ng-show="isArgument && nodeInfo.derivate != undefined && nodeInfo.derivate != ''" class="btn btn-primary"
             ng-click="relocateToDerivate()" data-i18n="_goToDerivateNode_"></div>
    </div>

    <div ng-include src="'static/partials/microblogging.html'"></div>
</div>