<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBox" ng-controller="FindecoArgumentCtrl">
        <h3 class="argumentHeading" data-i18n="_argumentsPro_"></h3>
        <ul class="argumentList">
            <li ng-repeat="argument in argumentList | filter: {shortTitle:'pro'}">
                <a href="/#/argument/{{ getPath(true) + '.' + argument.shortTitle + '.' + argument.index }}">{{argument.fullTitle}}</a>
            </li>
            <li ng-show="user.isLoggedIn">
                <a class="btn btn-primary" href="/#/createArgument/{{ getPath(true) }}" ng-click="tmp.argumentType = 'Pro'" data-i18n="_argumentsNewPro_"></a>
            </li>
        </ul>
        <h3 class="argumentHeading" data-i18n="_argumentsNeut_"></h3>
        <ul class="argumentList">
            <li ng-repeat="argument in argumentList | filter: {shortTitle:'neut'}">
                <a href="/#/argument/{{ getPath(true) + '.' + argument.shortTitle + '.' + argument.index }}">{{argument.fullTitle}}</a>
            </li>
            <li ng-show="user.isLoggedIn">
                <a class="btn btn-primary" href="/#/createArgument/{{ getPath(true) }}" ng-click="tmp.argumentType = 'Neutral'" data-i18n="_argumentsNewNeut_"></a>
            </li>
        </ul>
        <h3 class="argumentHeading" data-i18n="_argumentsCon_"></h3>
        <ul class="argumentList">
            <li ng-repeat="argument in argumentList | filter: {shortTitle:'con'}">
                <a href="/#/argument/{{ getPath(true) + '.' + argument.shortTitle + '.' + argument.index }}">{{argument.fullTitle}}</a>
            </li>
            <li ng-show="user.isLoggedIn">
                <a class="btn btn-primary" href="/#/createArgument/{{ getPath(true) }}" ng-click="tmp.argumentType = 'Contra'" data-i18n="_argumentsNewCon_"></a>
            </li>
        </ul>
    </div>

    <div id="centerColumn" class="contentBox">
        <div  follow-star show-if="user.isLoggedIn" entity="nodeInfo" mark-func="markNode"></div>
        <h1>{{ nodeInfo.fullTitle }}</h1>
        <div findeco-graph data="graphData" path="path" class="graph"></div>
        <p ng-bind-html-unsafe="parse(nodeInfo.wikiText, 'ignored')"></p>
        <div ng-repeat="section in sections">
            <a ng-show="!section.isExpanded" ng-click="expandSection(section)" style="float:left;position: relative; top:  14px; margin-right: 5px;"><img src="static/images/expand.png"></a>
            <a ng-show="section.isExpanded" ng-click="collapseSection(section)" style="float:left;position: relative; top:  14px; margin-right: 5px;"><img src="static/images/collapse.png"></a>
            <h2 ng-show="!section.isExpanded">
                <a href="/#/{{ getPath(section.shortTitle + '.' + section.index) }}">{{section.fullTitle}}</a>
            </h2>
            <div class="sectionText" ng-show="section.isExpanded" ng-repeat="paragraph in section.paragraphs">
                <div follow-star show-if="user.isLoggedIn" entity="section" mark-func="markNode"></div>
                <div ng-bind-html-unsafe="parse(paragraph.wikiText,paragraph.path)"></div>
            </div>
        </div>
        <div class="btn btn-primary" ng-click="relocate('createNewText')" data-i18n="_textNew_"><b>create new text</b></div>

        <div class="btn btn-primary" ng-click="relocate('createAlternativeText')" data-i18n="_alternativeTextNew_"></div>
    </div>

    <div ng-include src="'static/partials/microblogging.html'"></div>
</div>