<div class="head row" ng-controller="FindecoMenuCtrl" id="headerSpace">
    <div class="version">Version: {{ fesettings.version }}</div>
    <div style="position: absolute; top: 0; left: calc(50% - 300px); background-color: red; width: 600px; text-align: center;"
         ng-show="user.isAdmin">
        Achtung!! Sie sind als Admin User angemeldet
    </div>
    <div id="logo"></div>

    <ul class="userControls" style="z-index: 2;">
        <li class="{{ getActiveClass('profile')}}" ng-show="user.isLoggedIn">
            <a ng-href="/profile">{{ user.displayName }}</a>

        </li>

        <li ng-show="user.isLoggedIn">
            <a ng-click="logout()" style="cursor:pointer; padding: 0;">
                <img src="/static/images/logout.png" alt="Logout" height="18"
                     style="position: relative; top: 3px; margin: 0 0 0 0;"
                     onmouseover="this.src='/static/images/logout_hover.png';"
                     onmouseout="this.src='/static/images/logout.png';"/></a>
        </li>
        <li ng-show="!user.isLoggedIn" style="float:right">
            <a href="/login" data-i18n="_accountLogin_"></a>
        </li>
    </ul>

    <div class="fullwidthContainer">
        <div class="centeringTrickContainer">
            <ul class="topMenu">
                <li class="{{ getActiveClass('start')}}">
                    <a href="/start" data-i18n="_start_">Start</a>
                </li>
                <li class="{{ getActiveClass('')}} {{ getActiveClass('arguments')}}">
                    <a href="/arguments" data-i18n="_argumentNews_">New Arguments</a>
                </li>
                <li class="{{ getActiveClass('news')}}" ng-if="user.isLoggedIn">
                    <a href="/news" data-i18n="_news_">News</a>
                </li>
                <li class="{{ getActiveClass('microblogging')}}" ng-if="user.isLoggedIn">
                    <a href="/microblogging" data-i18n="_microbloggingNews_">Microblogging</a>
                </li>
                <li class="{{ isContentActive() }}">
                    <a href="/index" data-i18n="_content_">Content</a>
                </li>
                <li class="{{ getActiveClass('search')}}" id="searchTab">
                    <div class="searchBox">
                        <form action="" ng-submit="searchSubmit()">

                            <input id="searchInput"
                                   type="search"
                                   name="searchField"
                                   placeholder=""
                                   autocomplete="on"
                                   ng-model="searchString"
                                   data-i18n-attr="_search_|placeholder"/>
                            <button class="searchButton" value=""></button>
                        </form>
                    </div>
                </li>
            </ul>
            <div class="clearer"></div>
        </div>
    </div>
</div>