<a id="logo" ng-href="/"></a>

<div id="admin-warning" ng-show="user.isAdmin" >
    Achtung!! Sie sind als Admin User angemeldet
</div>

<div id="version">Version: {{ fesettings.version }}</div>

<ul class="topMenu">
    <li class="{{ getActiveClass('start') }}">
        <a href="/start" data-i18n="_start_">Start</a>
    </li>
    <li class="{{ getActiveClass('arguments')}} {{ getActiveClass('/') }}">
        <a href="/arguments" data-i18n="_argumentNews_">New Arguments</a>
    </li>
    <li class="{{ getActiveClass('news') }}" ng-if="user.isLoggedIn">
        <a href="/news" data-i18n="_news_">News</a>
    </li>
    <li class="{{ getActiveClass('microblogging') }}" ng-if="user.isLoggedIn">
        <a href="/microblogging" data-i18n="_microbloggingNews_">Microblogging</a>
    </li>
    <li class="{{ getActiveClass('index') }} {{ getActiveClass('node') }}">
        <a href="/index" data-i18n="_content_">Content</a>
    </li>
    <li class="{{ getActiveClass('search') }}" >
        <form action="" ng-submit="searchSubmit(searchString)" id="searchBox">
            <input id="searchInput"
                   type="search"
                   name="searchField"
                   autocomplete="on"
                   ng-model="searchString"
                   data-i18n-attr="_search_|placeholder" />
            <button id="searchButton" value=""></button>
        </form>
    </li>
    <div style="clear: both"></div>
</ul>


<ul class="userControls">
    <li class="{{ getActiveClass('profile')}}" ng-show="user.isLoggedIn">
        <a ng-href="/profile">{{ user.displayName }}</a>
    </li>

    <li ng-show="user.isLoggedIn">
        <a ng-click="logout()" class="logoutButton"></a>
    </li>
    <li ng-show="!user.isLoggedIn">
        <a href="/login" data-i18n="_accountLogin_"></a>
    </li>
</ul>

