<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">

    </div>

    <div id="centerColumn" class="contentBox">
        <div ng-show="content!=undefined" ng-bind-html-unsafe="content"></div>
        <div ng-show="content==undefined">
            <h1>Hier sollte ein Impressum stehen!</h1>
            <br>
            Falls nicht, fehlt vermutlich die Datei <a href="/static/customContent/impressum.html">"static/customContent/impressum.html"</a>
            auf dem Server.
        </div>
    </div>
    <div id="rightColumn" class="contentBoxInvisible">
    </div>
</div>