<div id="rightColumn" class="contentBox" ng-controller="FindecoMicroblogCtrl"
     style="position: relative;">
    <div class="characterCountdown" ng-show="microblogText.length">{{ 200 - microblogText.length }}</div>
    <ul class="microblogList">
        <li ng-show="user.isLoggedIn" style="margin: 0; padding: 0;">
            <form ng-submit="submit()">
                <textarea class="microblogInput" type="text" placeholder="{{'_microblogPlaceholder_'|i18n}}"
                       ng-model="microblogText"></textarea>
                <input class="btn btn-primary" type="submit" value="{{'_microblogSendBtn_'|i18n}}"/>
            </form>
        </li>
        <li ng-repeat="microblogNode in microbloggingList">
            <div follow-star show-if="user.isLoggedIn" entity="microblogNode.authorGroup[0]" mark-func="followUser"
                 style="float:left; top: -2px; width: 17px;" width="14" height="14"></div>
            <a class="microblogAuthor" href="#/user/{{ microblogNode.authorGroup[0].displayName }}">{{
                microblogNode.authorGroup[0].displayName }}</a>
            <span class="microblogDate">{{microblogNode.microblogTime*1000 | timeFromNow}}</span><br/>
            <span class="microblogText" ng-bind-html-unsafe="microblogNode.microblogText"></span>
        </li>
        <li><a ng-show="microbloggingList.length >= 20" class="btn btn-primary" ng-click="updateMicrobloggingList('older',microbloggingList[microbloggingList.length-1].microblogID)"
               data-i18n="_loadMoreMicroblogging_"></a></li>
    </ul>
</div>