<div style="position: relative; left: -50%; float: right; overflow: visible;">
    <div  style="position: relative; left: 50%;">
        <div class="backgroundBox microblogColumn" >

            <help hid="MBL_til" htype="1" />
            <h2 data-i18n="_timeline_"></h2>

            <a class="rss" target="_new" href="/feeds/rss/timeline/{{ user.displayName }}/{{ user.rsskey }}"></a>

            <div microblog-list bloglist="timelineList" updatecall="extendTimelineList" follow-user="followUser"></div>
        </div>

        <div class="backgroundBox microblogColumn">
            <help hid="MBL_men" htype="1" />
            <h2 data-i18n="_mentions_"></h2>
            <a class="rss" target="_new" href="/feeds/rss/mention/{{ user.displayName }}/{{ user.rsskey }}"></a>

            <div microblog-list bloglist="mentionsList" updatecall="updateMicrobloggingList" follow-user="followUser"></div>
        </div>

        <div class="backgroundBox microblogColumn">
            <help hid="MBL_col" htype="1" />
            <h2 data-i18n="_composePost_"></h2>
            <div class="characterCountdown" ng-show="microblogText.length">{{ 200 - microblogText.length }}</div>
            <form ng-submit="submit()" ng-show="user.isLoggedIn">
                <textarea class="microblogInput" type="text" placeholder="{{ '_microblogPlaceholder_'|i18n }}"
                          ng-model="microblogText" style="width: 100%;"></textarea>
                <input class="btn btn-primary" style="display: block;" type="submit" value="{{ '_microblogSendBtn_'|i18n }}"/>
            </form>
            <div ng-show="error">
                <span class="help-error" data-i18n="{{ error.errorID }}"></span>
                <div class="help-error">{{ error.additionalInfo }}</div>
            </div>


            <help hid="MBL_own" htype="1" />
            <h2  data-i18n="_ownPosts_"></h2>
            <a class="rss" target="_new" href="/feeds/rss/newsAuthor/{{ user.displayName }}/{{ user.rsskey }}"></a>

            <div microblog-list bloglist="ownPostsList" updatecall="extendOwnPostsList" follow-user="followUser"></div>
        </div>
    </div>
</div>