<div id="contentContainer" class="centeringContainer" xmlns="http://www.w3.org/1999/html">
    <div class="contentBox startColumn">
        <!--<div class="characterCountdown" ng-show="microblogText.length">{{ 200 - microblogText.length }}</div>
        <li ng-show="user.isLoggedIn" style="margin: 0; padding: 0;">
            <form ng-submit="submit()">
                <input type="text" placeholder="{{'_MicroblogPlaceholder_'|i18n}}" style="width: 100%;" ng-model="microblogText"><br/>
            </form>
        </li>!-->
        <h2 data-i18n="_timeline_"></h2>
        <ul class="microblogList">
            <li><a class="btn btn-primary" ng-click="updateTimeline()" data-i18n="_startScreenUpdateBtn_"></a></li>
            <li ng-repeat="microblogNode in timelineList">
                <div follow-star show-if="user.isLoggedIn && microblogNode.author.displayName != user.displayName"
                     entity="microblogNode.author" mark-func="followUser"
                     style="float:left; top: -2px; width: 17px;" width="14" height="14"></div>
                <a class="microblogAuthor" href="#/user/{{ microblogNode.authorGroup[0].displayName }}">{{
                    microblogNode.authorGroup[0].displayName }}</a>
                <span class="microblogDate">{{microblogNode.microblogTime*1000 | timeFromNow}}</span><br/>
                <span class="microblogText" ng-bind-html-unsafe="microblogNode.microblogText"></span>
            </li>
            <li><a ng-show="timelineList.length >= 20" class="btn btn-primary"
                   ng-click="updateTimeline('older',timelineList[timelineList.length-1].microblogID)"
                   data-i18n="_loadMoreMicroblogging_"></a></li>
        </ul>
		<div ng-show="isLoading('timeline')" class="deactivateDiv">
    	</div>
   		<div ng-show="isLoading('timeline')" class="deactivateSpinner">
    	</div>
    </div>
    <div class="contentBox startColumn">
        <h2 data-i18n="_mentions_">Mentions</h2>
        <ul class="microblogList">
            <li><a class="btn btn-primary" ng-click="updateMentions()" data-i18n="_startScreenUpdateBtn_"></a></li>
            <li ng-repeat="microblogNode in mentionsList">
                <div follow-star show-if="user.isLoggedIn && microblogNode.author.id != user.id"
                     entity="microblogNode.author" mark-func="followUser"
                     style="float:left; top: -2px; width: 17px;" width="14" height="14"></div>
                <a class="microblogAuthor" href="#/user/{{ microblogNode.authorGroup[0].displayName }}">{{
                    microblogNode.authorGroup[0].displayName }}</a>
                <span class="microblogDate">{{microblogNode.microblogTime*1000 | timeFromNow}}</span><br/>
                <span class="microblogText" ng-bind-html-unsafe="microblogNode.microblogText"></span>
            </li>
            <li><a ng-show="followedNodesList.length >= 20" class="btn btn-primary"
                   ng-click="updateMentions('older',mentionsList[mentionsList.length-1].microblogID)"
                   data-i18n="_loadMoreMicroblogging_"></a></li>
        </ul>
        <div ng-show="isLoading('mentions')" class="deactivateDiv">
    	</div>
   		<div ng-show="isLoading('mentions')" class="deactivateSpinner">
    	</div>
    </div>
    <div class="contentBox startColumn">
        <h2 data-i18n="_empty_">Empty</h2>
        <p data-i18n="_contactDevelopersForIdeasWhatToPutHere_"></p>
    </div>
</div>