<div ng-controller="FindecoMicroblogCtrl">
    <div class="characterCountdown" ng-show="microblogText.length">{{ 200 - microblogText.length }}</div>
    <form ng-submit="submit()" ng-show="user.isLoggedIn">
        <textarea class="microblogInput" type="text" placeholder="{{ '_microblogPlaceholder_'|i18n }}"
                  ng-model="microblogText" style="width: 100%;"></textarea>
        <input class="btn btn-primary" style="display: block;" type="submit" value="{{ '_microblogSendBtn_'|i18n }}"/>
    </form>
    <div ng-show="error">
        <span class="help-error" data-i18n="{{ error.errorID }}"></span>
        <div class="help-error">{{ error.additionalInfo }}</div>
    </div>

    <a class="rss" target="_new" href="/feeds/rss/newsAuthor/{{ user.displayName }}/{{ user.rsskey }}"></a>

    <div microblog-list bloglist="microbloggingList" updatecall="extendOwnPostsList" follow-user="followUser"></div>

   	<div ng-show="isLoading()" class="deactivateDiv"></div>
   	<div ng-show="isLoading()" class="deactivateSpinner"></div>
    <div ng-show="!user.isLoggedIn && microbloggingList.length < 5"><h3 class="argumentTitle" data-i18n="_headingMicroblogging_">Mitmachen?</h3></div>
    <div ng-show="!user.isLoggedIn && microbloggingList.length < 5" class="tipp" style="text-align: center">
        <span data-i18n="_microbloggingPanel_">Melde dich an und du kannst die Themen bearbeiten, Argumente einbringen oder auch zu den
        bestehenden Vorschlägen Microbloggen.</span>
        <br />
         <a class="link" href="/register/" data-i18n="_loginMicrobloggingPanel_"
   >anmelden</a> <span data-i18n="_microbloggingPanel2_">oder hier </span><a class="link" href="/register/" data-i18n="_registerMicrobloggingPanel_"
   >registrieren</a>
    </div>
</div>