<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">

    </div>

    <div id="centerColumn" class="contentBox">
        <h1>Nutzungsbedingungen</h1>
       1. Die Nutzung von Findeco ist unentgeltlich
       2. Für die Nutzung gelten unsere Datenschutzbestimmungen
       3. Es besteht kein Anspruch auf einen Account auf demo.findeco.de
       4. Es besteht kein Anspruch auf eine dauerhafte Verfügbarkeit von demo.findeco.de
       5. Datenbank und Inhalte werden im Moment in unregelmäßigen Abständen zurückgesetzt
       6. Die Instanz auf demo.findeco.de ist nicht für den Produktivbetrieb geeignet
  

    </div>

    <div id="rightColumn" class="contentBoxInvisible">

    </div>

</div>