<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">

    </div>

    <div id="centerColumn" class="contentBox">
   		<h1>Nutzungsbedingungen</h1>
        <ul>
       		<li>Die Nutzung von Findeco ist unentgeltlich</li>
       		<li>Für die Nutzung gelten unsere Datenschutzbestimmungen</li>
       		<li>Es besteht kein Anspruch auf einen Account auf demo.findeco.de</li>
       		<li>Es besteht kein Anspruch auf eine dauerhafte Verfügbarkeit von demo.findeco.de</li>
       		<li>Datenbank und Inhalte werden im Moment in unregelmäßigen Abständen zurückgesetzt</li>
       		<li>Die Instanz auf demo.findeco.de ist nicht für den Produktivbetrieb geeignet</li>
  		</ul>

    </div>

    <div id="rightColumn" class="contentBoxInvisible">

    </div>

</div>