<div id="contentContainer" class="centeringContainer" xmlns="http://www.w3.org/1999/html">
	<div class="contentBox profileLeftWideColumn" ng-show="user.isLoggedIn">
	<div ng-include src="'static/partials/profileMenu.html'"  ></div>
</ngInclude>
  
    	
    	
    
    </div>
    <div class="profileCenterWideColumn contentBox" ng-show="user.isLoggedIn">
        <h2 data-i18n="_deleteAccount_">delete Account</h2>
        <p data-i18n="_deleteAccountExplanation_"></p>
        <form ng-submit="deleteAccount()">
            <input class="btn btn-primary" type="submit" value="{{'_deleteAccount_'|i18n}}">
        </form>
   	</div>
</div>