<div id="contentContainer" class="centeringContainer" xmlns="http://www.w3.org/1999/html">
    <div id="leftWideColumn" class="contentBox">
        <h1> {{ user.displayName }} </h1>
        Beschreibung:
        <form ng-submit="storeUserSettings()">
            <textarea ng-model="user.description" placeholder="Beschreibung" style="width: 100%; resize: vertical;" rows="5">  </textarea>
            <input class="btn btn-primary" type="submit" value="speichern">
        </form>
        TODO Hier sollte noch hin:
        <ul>
            <li>email</li>
            <li>passwort</li>
            <li>followees</li>
            <li>usernamen ändern(?)</li>
            <li>account löschen(?)</li>
        </ul>
    </div>
    <div id="rightWideColumn" class="contentBox">
        <h2 style="color: gray; border-bottom: 1px dotted gray;" data-i18n="_previewHeading_">Vorschau:</h2>
        <h1>{{user.displayName}}</h1>
        <div>
            <h2 data-i18n="_description_">Description</h2>
            <div ng-bind-html-unsafe="parse(user.description)"></div>
        </div>
    </div>
</div>