<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBox" ng-controller="FindecoArgumentCtrl">
        <div class="tipp">In dieser Spalte stehen User bei denen sich der Suchbegriff im Benutzernamen oder in der
            Beschreibung findet.</div>
        <h1 data-i18n="_searchUserResults_">Suchergebnisse zu Usern</h1>
        <span ng-show="searchResults.userResults==''">Kein Benutzer gefunden</span>
        <ul class="searchResults">
            <li ng-repeat="result in searchResults.userResults">
                <h4><a href="/{{ result.url }}">{{result.title}}</a></h4>
                <p>{{ result.snippet }}</p>
            </li>
        </ul>
    </div>

    <div id="centerColumn" class="contentBox">
        <div class="tipp">Die Suchergebnisse sind in drei Spalten aufgeteilt. In dieser Spalte stehen Vorschläge und
            Argumente zum Suchbegriff.</div>
        <h1 data-i18n="_searchContentResults_" >Suchergebnisse</h1>
        <ul class="searchResults">
            <span ng-show="searchResults.contentResults==''">Keine Ergebnisse für die Suche nach "{{ searchString }}" gefunden</span>
            <li ng-repeat="result in searchResults.contentResults">
                <h4><a href="/{{ result.url }}">{{result.title}}</a></h4>
                <p>{{ result.snippet }}</p>
            </li>
        </ul>
    </div>

    <div id="rightColumn" class="contentBox" style="position: relative;">
        <div class="tipp">In dieser Spalte stehen Suchergebnisse aus dem Microblogging.</div>
        <h1 data-i18n="_searchMicrobloggingResults_">Suchergebnisse im Microblogging</h1>
        <span ng-show="searchResults.microbloggingResults==''">Keine Microbloggingbeiträge gefunden</span>
        <ul class="microblogList">
            <li ng-repeat="microblogNode in searchResults.microbloggingResults">
                <a class="microblogAuthor" href="/user/{{ microblogNode.authorGroup[0].displayName }}">{{
                        microblogNode.authorGroup[0].displayName }}</a>
                <span class="microblogDate">{{microblogNode.microblogTime*1000 | timeFromNow}}</span><br/>
                <span class="microblogText" ng-bind-html-unsafe="microblogNode.microblogText"></span>
            </li>
        </ul>
    </div>
</div>