<div id="contentContainer" class="centeringContainer">
 <div ng-show="!user.isLoggedIn" id="disclaimerBox" class="contentBox" >
  Die Texte wurden von einzelnen Benutzern eingestellt und sind keine offizielle Aussage der <a href="http://piraten-rlp.de/">Piratenpartei Rheinland-Pfalz.</a> 
 </div>
 
    <div style="float: left; width: 200px; min-height: 10px; padding: 25px;"  ></div>

    <div id="centerColumn" class="contentBox">
   
       
        
        <h1 data-i18n="_rootCaption_"></h1>
        <p  data-i18n="_rootText_"></p>
       
       

        
        <div ng-repeat="section in nodeInfo.indexList">
            <a ng-show="!section.isExpanded" ng-hide="nav.type=='root'" ng-click="expandSection(section)"
               style="float:left;position: relative; top: 8px; margin-right: 5px;"><img src="static/images/expand.png"
                                onmouseover="this.src='static/images/expand_hover.png';"
                                onmouseout="this.src='static/images/expand.png';"
                    ></a>
            <a ng-show="section.isExpanded" ng-click="collapseSection(section)"
               style="float:left;position: relative; top: 8px; margin-right: 5px;"><img src="static/images/collapse.png"
                        onmouseover="this.src='static/images/collapse_hover.png';"
                        onmouseout="this.src='static/images/collapse.png';"
                    ></a>

            <h2 ng-show="!section.isExpanded">
                <a href="/#/{{ nav.getPathForNode(section.shortTitle,  section.index) }}">{{section.fullTitle}}</a>
            </h2>
 
            <div class="sectionText" ng-show="section.isExpanded" ng-repeat="paragraph in section.paragraphs">
                <div spam-mark show-if="user.isLoggedIn" entity="paragraph" mark-func="markNode"></div>
                <div follow-star show-if="user.isLoggedIn" entity="paragraph" mark-func="markNode" width="21" height="21"></div>
                <div creole wiki-text="paragraph.wikiText"></div>
            </div>
        </div>
      

      
  	<div ng-show="isLoading()" class="deactivateDiv">
    </div>
   	<div ng-show="isLoading()" class="deactivateSpinner">
    </div>
    </div>

 
    <div style="clear:both; padding-bottom:25px;"></div>
     <div ng-show="user.isLoggedIn" id="disclaimerBox" class="contentBox" >
  Die Texte wurden von einzelnen Benutzern eingestellt und sind keine offizielle Aussage der <a href="http://piraten-rlp.de/">Piratenpartei Rheinland-Pfalz.</a> 
 </div>
</div>