<div style="position: relative; left: -50%; float: right; overflow: visible;">
    <div style="position: relative; left: 50%;">

        <div ng-show="!user.isLoggedIn && fesettings.disclaimer.enable"
             id="disclaimerBox"
             ng-bind-html-unsafe="fesettings.disclaimer.text"
             class="backgroundBox" >
        </div>

        <div ng-if="fesettings.sidebar.enable==true"
             ng-include="'/static/partials/syschanges.html'">
        </div>

        <div class="backgroundBox" style="max-width: 45em">
            <h1 data-i18n="_rootCaption_"></h1>
            <p data-i18n="_rootText_"></p>
            <h2 ng-repeat="section in nodeInfo.indexList">
                <a href="/{{ nav.getPathForNode(section.shortTitle,  section.index) }}">
                    {{section.fullTitle}}
                </a>
            </h2>
        </div>
    </div>
</div>