<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">

    </div>

    <div id="centerColumn" class="contentBox">
        <h1>Was ist Findeco?</h1>
        <p>Findeco ist eine Online-Diskussionsplattform, die Diskussionen mit großen Nutzergruppen strukturiert.
            In Findeco werden alle Diskussionen in einen Kontext eingebunden und in diesem Kontext weiter geführt. Da
            Findeco für die Piratenpartei entwickelt wurde ist das Wahlprogramm und die Positionspapiere der
            Piraten der Kontext der Diskussion. Du kannst mit Findeco durch die Entwürfe zum Wahlprogramm navigieren
            und dir auf jeder Abstraktionsebene einen Überblick über die Alternativen und den Stand der Diskussion
            verschaffen. Dabei helfen die links angezeigten Argumente und das rechts neben dem Text angezeigte
            Microblogging.</p>
        <p>Wenn du angemeldet bist und die Berechtigung dafür hast, kannst du Diskussionsbeiträgen und
            Diskussionsteilnehmern folgen, was dir dabei hilft den Überblick über die gefolgten Diskussionen zu
            behalten und auch die Anzeige der Beiträge beeinflusst. Wenn es mehrere Alternativen gibt, wird der
            Vorschlag, der von den meisten Nutzern gefolgt wird, für die nächsthöhere Abstraktionsebene ausgewählt.
            Als angemeldeter Nutzer kannst du auch Alternativvorschläge erstellen, bestehende Vorschläge und Argumente
            weiter entwickeln und verbessern und die Diskussion über das Microblogging kommentieren. Was du beim
            Diskutieren beachten solltest, wird im Manifest zusammengefasst.</p>
        <h1>Findeco Manifest</h1>
        <p>Findeco ist eine Platform zur gemeinsamen konstruktiven Meinungsfindung. Es dient zur Ausarbeitung von
            Ideen, aber auch zur strukturierten Archivierung der Vorschläge, Argumente und Kommentare.</p>
        <p>Findeco lebt von deinen Ideen und deiner Mitarbeit. Alle Diskussionbeiträge, die in Findeco erstellt werden
            bleiben erreichbar und werden nur durch weitere Beiträge ergänzt. Du kannst also nichts kaputt machen.
            Findeco ist darauf ausgelegt dir einen schnellen Einstieg in eine Diskussion zu ermöglichen. Du findest
            hier gleichgesinnte aber auch Oppositionen.</p>
        <p>Findeco bietet eine clevere Struktur, die an der struktur produktiver Diskussionen von Angesicht zu
            Angesicht orientiert ist. Alle Features von Findeco sind dazu gedacht eine fruchtbare Diskkussion zu
            unterstützen.</p>
        <p>Wichtiger als das Werkzeug ist aber der Umgang damit. Damit Findeco funtionieren kann sind wir auf deine
            Mithilfe angewiesen. Hilf mit indem du darauf achtest dich an die vorgegebenen Strukturen von Findeco
            zu halten und eine produktive Diskussionskultur zu kultivieren. Bitte erinnere auch andere Nutzer daran,
            Findeco richtig zu benutzen.</p>

        <h2>Oppositionen tolerieren</h2>
        <p>Findeco versucht dir einen schnellen Einstieg in eine Diskussion zu erleichtern. Dafür ist es wichtig
            die Positionen der an der Diskussion beteiligten Lager kennen zu lernen und einen Überblick über die
            Bandbreite der beteiligten Meinungen zu bekommen. Dafür zeigt dir Findeco auch Vorschläge an, die nur
            von einer Minderheit unterstützt werden.</p>
        <p>Bitte respektiere die Meinungen Anderer. Markiere nur unsachliche Beiträge als Spam und verzichte einfach
            auf jegliche Markierung von Beiträgen, die dir nicht zusagen. Du darfst gerne widersprechen: dafür bietet
            Findeco die Möglichkeit Gegenargumente zu erstellen. Sollten deine Gegenargumente schon genannt worden
            sein, kannst du deine Meinung ganz einfach dadurch ausdrücken, dass du den Gegenargumenten folgst.</p>
        <h2>Konstruktiv kritisieren</h2>
        <p>Wenn du der Meinung bist, dass andere Diskussionsteilnehmer falsche Positionen vertreten, dann teile dies
            mit Gegenargumenten mit. In deinen Argumenten solltest du aber nicht vergessen darauf hinzuweisen, was
            deiner Meinung nach anders gemacht werden sollte. Am Besten ist es sogar, wenn du deinen Vorschlag direkt
            in einer Weiterentwicklung umsetzt. Vielleicht wird so ja ein Konsens gefunden.</p>
        <p>Bitte hilf auch dabei unkonstruktive Kritik in Argumenten zu vermeiden, indem du unsachliche Argumente
            weiter entwickelst. Ein sachliches Argument wird mehr Gehör finden, als eine unkonstruktive
            Meinungsäußerung.</p>
        <h2>Argumente nicht vermischen</h2>
        <p>Wenn du mehrere Argumente zu einer Diskussion beitragen willst, dann achte darauf sie einzeln zu nennen.
            Findeco erlaubt dir so viele Argumente zu verfassen wie du willst. Wenn du jede deiner Argumentideen
            einzeln einstellst, stehen nicht nur mehr Argumente in der Argument-Liste, sondern es wird auch anderen
            Diskussionsteilnehmern leichter gemacht deine Argumente noch besser zu formulieren.</p>
        <p>Wenn du eine bessere Formulierung für ein bestehendes Argument hast, dann Nutze die Möglichkeit das
            bestehende zu verbessern. Du kannst so die Unterstützung für das ursprüngliche Argument auf deine neue
            Formulierung übertragen.</p>
        <h2>Personen von Standpunkten trennen</h2>
        <p>Wenn dich ein falsches Argument oder ein schlechter Beitrag wütend macht, äußere deine Wut nicht gegen
            die Autoren des Beitrags. Nutze die Argumente und Weiterentwicklungs-Funktion, um die falsche
            Position sachlich zu entkräften. Im Idealfall sehen es die Autoren des Beitrags ein, dass sie falsch
            lagen. Wenn die Autoren es nicht einsehen, solltest du aber mit deinen Argumenten wenigstens alle anderen
            Diskussionteilnehmer überzeugen.</p>
        <h2>Respekt für Personen</h2>
        <p>Behandle andere Diskussionsteilnehmer stets mit Respekt. Deine eigene Glaubwürdigkeit wird darunter leiden,
            wenn du gegen Personen vorgehst. Bedenke auch, dass alle deinen Beiträge veröffentlichungen sind und
            du einen unangemessenen emotionalen Ausbruch nicht zurück nehmen kannst.</p>
        <h2>Ideen anbieten nicht aufzwingen</h2>
        <p>Es steht allen Nutzer frei, ob sie deinen Diskussionsbeiträgen folgen möchten, oder nicht. Versuche so
            überzeugend zu sein, wie möglich, aber versuche nicht deine Meinung anderen Nutzern aufzuzwingen. Wenn
            du deine Ideen gut formulierst und stets mit Argumenten unterfütterst, werden die anderen
            Diskussionsteilnehmer dir folgen.</p>
        <h2>Bewirb und verbreite gute Ideen</h2>
        <p>Findeco macht es dir sehr einfach durch die Verschiedenen Diskussionsebenen zu navigieren. Nutze das, um
            auch mal über den Tellerrand deiner Lieblingsthemen zu schauen und in andere Diskussionen hinein zu
            schnuppern. Du kannst eine Diskussion mit sehr wenig Zeitaufwand dadurch unterstützen, dass du den guten
            Diskussionsbeiträgen folgst, und den schlechten Beiträgen nicht.</p>
        <p>Schrecke nicht davor zurück das Microblogging-Feature zu nutzen, um deine Follower auf gute
            Diskussionsbeiträge aufmerksam zu machen. Du kannst im Microblogging beliebige Pfade aus der URL nehmen,
            um auf Beiträge zu verweisen.</p>
        <h2>Sachlich und nicht emotional argumentieren</h2>
        <p>Der Sinn aller Diskussionen in Findeco ist es zu einem guten Ergebnis zu kommen. Das Ergebnis kann ein
            Konsens oder auch ein Satz aus mehreren Anträgen für einen Parteitag sein. Überlege bei deinen Beiträgen
            also immer, ob sie dabei helfen dieses Ziel zu erreichen. Besonders vorsichtig solltest du sein, wenn
            du emotional aufgewühlst bist. Unsachliche Beiträge sind leider keine Bereicherung für die Diskussion
            und fallen letztlich negativ auf dich zurück.</p>
        <h2>Wähle den richtigen Kanal</h2>
        <p>Es gibt in Findeco Vorschläge, Argumente und das Microblogging. Vorschläge sollten eine Position in der
            Diskussion definieren und werden zu Antragstexten weiter entwickelt. Argumente beziehen sich auf
            Vorschläge und dienen dazu Aspekte zu nennen die im Zusammenhang mit einem Vorschlag bedacht werden sollen
            oder eine Weiterentwicklung zu rechtfertigen. Microblogging dient dazu flüchtige Kommentare abzugeben
            und andere Nutzer auf Aspekte einer Diskussion aufmerksam zu machen.</p>
        <p>Überlege wenn du etwas verfasst, wo dein Gedanke am besten hin passt. Wenn dein Gedanke kein Vorschlag ist,
            solltest du ihn auch nicht so abspeichern. Wenn es dir schwer fällt, den richtigen Kanal auszuwählen, dann
            nimm dir die Zeit deine Gedanken zu ordnen, bevor du schreibst. Alle konstruktiven Diskussionsbeiträge
            lassen sich als Vorschlag oder Argument ausdrücken. Vielleicht musst du für deine Idee mehrere Beiträge
            erstellen. Im Zweifelsfall kannst du ja deine Freunde mit dem Microblogging um Hilfe bitten.</p>

    </div>

    <div id="rightColumn" class="contentBoxInvisible">

    </div>

</div>