<div id="leftColumn"  class="shadowed" ng-controller="FindecoSyschangeCtrl">
    <h3 class="argumentHeading" data-i18n="_SystemNews_"></h3>
    <h5 class="argumentHeading" data-i18n="_externalLink_"></h5>

    <ul class="newsList">
        <li ng-repeat="news in newsList">
           
            <a href="{{ news.url }}">{{news.title}}</a>
        </li>
    </ul>
       	<div ng-show="isLoading()" class="deactivateDiv">
    </div>
   	<div ng-show="isLoading()" class="deactivateSpinner">
    </div>
</div>