<div id="leftColumn"  class="contentBox" ng-controller="FindecoSyschangeCtrl">

    <h3 class="argumentHeading" data-i18n="_SystemNews_"></h3>

    <ul class="argumentList">
        <li ng-repeat="news in newsList">
           
            <a href="{{ news.url }}">{{news.title}}</a>
        </li>
        <li ng-show="user.isLoggedIn">
            <a class="btn btn-primary" href="/#/create/argumentCon/{{ nav.nodePath }}"
               ng-click="tmp.argumentType = 'Contra'" data-i18n="_argumentsNewCon_"></a>
        </li>
    </ul>
       	<div ng-show="isLoading()" class="deactivateDiv">
    </div>
   	<div ng-show="isLoading()" class="deactivateSpinner">
    </div>
</div>