<div style="position: relative; left: -50%; float: right; overflow: visible; margin: 2em 0;">
    <div style="position: relative; left: 50%;">
        <div class="textColumn backgroundBox">
            <h1> {{'_accountRegistrationFormTitle_'|i18n}} </h1>
            {{'_accountRegistrationText_'|i18n}}
            <form name="userRegistration" ng-submit="register()" class="registration-form" novalidate>

                <!-- USERNAME -->
                <div class="form-group">
                    <label>{{'_accountUsername_'|i18n}}</label><br>
                    <input type="text" name="username" class="form-control"
                           ng-model="username"
                           ng-minlength="2" ng-maxlength="20"
                           ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_]*$/"
                           required>
                    <p ng-show="userRegistration.username.$error.minlength"
                       class="help-error" data-i18n="_usernameTooShort_"></p>
                    <p ng-show="userRegistration.username.$error.maxlength"
                       class="help-error" data-i18n="_usernameTooLong_"></p>
                    <p ng-show="userRegistration.username.$error.pattern"
                       class="help-error" data-i18n="_usernameInvalidFormat_"></p>
                    <span ng-show="attemptedRegister && userRegistration.username.$error.required"
                          class="help-error" data-i18n="_required_"></span>
                </div>

                <!-- PASSWORD -->
                <div class="form-group">
                    <label>{{'_accountPassword_'|i18n}}</label><br>
                    <input name="password" type="password"
                           placeholder="{{'_accountPassword_'|i18n}}"
                           ng-model="password" required>
                    <span ng-show="attemptedRegister && userRegistration.password.$error.required"
                          class="help-error" data-i18n="_required_"></span>
                    <br/>
                    <input name="passwordConfirm" type="password"
                           placeholder="{{'_accountPasswordRepeat_'|i18n}}"
                           ng-model="password2" match="password" required>
                    <span ng-show="attemptedRegister && userRegistration.passwordConfirm.$error.required"
                          class="help-error" data-i18n="_required_"></span>
                    <br/>

                    <p ng-show="userRegistration.passwordConfirm.$error.match"
                       class="help-error" data-i18n="_passwordMismatch_"></p>
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <label>{{'_accountEmail_'|i18n}}</label><br>
                    <input name='email' type="email" placeholder="{{'_accountEmail_'|i18n}}" ng-model="mail" required>
                    <span ng-show="attemptedRegister && userRegistration.email.$error.required"
                          class="help-error" data-i18n="_required_"></span>
                    <p ng-show="userRegistration.email.$error.email"
                       class="help-error" data-i18n="_InvalidEmailAddress"></p>
                </div>

                <!-- TERMS OF SERVICE AND DATA PRIVACY -->
                <div class="form-group">
                    <input type="checkbox" ng-model="TOS" name="TOS_checkbox" required>
                    <label for="TOS_checkbox">
                        {{ '_accountReadTOSBeginning_'|i18n }}
                        <a ng-href="/terms_of_use" data-i18n="_accountReadTOSLink_"></a>
                        {{ '_accountReadTOSEnd_'|i18n }}
                    </label>
                    <span ng-show="attemptedRegister && userRegistration.TOS_checkbox.$error.required"
                          class="help-error" data-i18n="_required_"></span>
                    <br/>
                    <input type="checkbox" ng-model="DPR" name="DPR_Checkbox" required>
                    <label for="DPR_Checkbox">
                        {{ '_accountReadDPRBeginning_'|i18n }}
                        <a ng-href="/data_privacy" data-i18n="_accountReadDPRLink_"></a>
                        {{ '_accountReadDPREnd_'|i18n }}
                    </label>
                    <span ng-show="attemptedRegister && userRegistration.DPR_Checkbox.$error.required"
                          class="help-error" data-i18n="_required_"></span>
                </div>

                <p ng-show="attemptedRegister && allFieldsFilledCorrectly"
                   data-i18n="_registrationProcessing_"></p>
                <div ng-if="serverError" class="help-error">
                    <div data-i18n="{{serverError.errorID}}"></div>
                    <div data-i18n="{{serverError.additionalInfo}}"></div>
                </div>
                <input ng-show="!attemptedRegister || !allFieldsFilledCorrectly"
                       type="submit" value="{{'_accountRegistrationBtn_'|i18n}}">

            </form>
        </div>
    </div>
</div>