<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">
    </div>

    <div id="centerColumn" class="contentBox">
        <div follow-star show-if="user.isLoggedIn && displayUser.name != user.displayName"
             entity="displayUser" mark-func="followUser"></div>
        <h1>{{displayUser.name}}</h1>
        <div ng-show="displayUser.exists">
            <h2 data-i18n="_description_">Description</h2>
            <div creole wiki-text="displayUser.description"></div>
        </div>
    </div>

    <div ng-include src="'/static/partials/microblogging.html'"></div>
</div>