<div id="contentContainer" class="centeringContainer">
    <div style="float: left; width: 200px; min-height: 10px; padding: 25px;"></div>

    <div id="centerColumn" class="shadowed">
        <h1> {{ '_accountLoginFormTitle_'|i18n }} </h1>

        <form ng-submit="login()">
            <p>{{ '_accountLoginText_'|i18n }}</p>
            <input type="text" placeholder="{{ '_accountUsernameBtn_'|i18n }}"
                   ng-model="username" id="usernameInput"><br/>
            <input type="password" placeholder="{{ '_accountPasswordBtn_'|i18n }}"
                   ng-model="password" id="passwordInput"><br/>
            <input class="btn btn-primary" type="submit" value="{{ '_accountLoginBtn_'|i18n }}">
        </form>
        <a href="/register">{{ '_accountRegistrationFormLink_'|i18n }}</a><br/>
        <a href="/recoverByMail">{{ '_accountRecoverPasswordByMailLink_'|i18n }}</a><br/>
        <a href="/recoverByUsername">{{ '_accountRecoverPasswordByUsernameLink_'|i18n }}</a><br/>

    </div>
</div>