<div id="contentContainer" class="centeringContainer">
    <div id="leftColumn" class="contentBoxInvisible">
    </div>

    <div id="centerColumn" class="contentBox">
        <div style="float: right;">
            <input ng-show="!following" ng-click="follow(displayName, 'follow')" class="btn btn-primary" type="button" value="Folgen" data-i18n="_follow_" />
            <input ng-show="following" ng-click="follow(displayName, 'unfollow')" class="btn btn-primary" type="button" value="Entfolgen" data-i18n="_unfollow_" />
        </div>
        <h1>{{displayName}}</h1>
        <div ng-show="userExists">
            <h2 data-i18n="_description_">Description</h2>
            <div ng-bind-html-unsafe="parse(description)"></div>
        </div>
    </div>

    <div ng-include src="'static/partials/microblogging.html'"></div>
</div>