<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">

<head>
    <!-- TODO: Add metadata -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>

    <!-- CSS files -->
    <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/topMenu.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/navigationBar.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/textColumn.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/graph.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/arguments.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/microblogging.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/message.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/create.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/start.css" type="text/css"/>

    <!-- Javascript libraries -->
    <script type="text/javascript" src="static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="static/js/lib/d3.v2.min.js"></script>
    <script type="text/javascript" src="static/js/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="static/js/lib/codeholicsCreole.js"></script>
    <script type="text/javascript" src="static/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="static/js/lib/ui-bootstrap-tpls-0.2.0.min.js"></script>

    <!-- Javascript files -->
    <script type="text/javascript" src="static/js/findeco.locator.js"></script>
    <script type="text/javascript" src="static/js/findeco.app.js"></script>
    <script type="text/javascript" src="static/js/findeco.argumentCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.createCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.components.js"></script>
    <script type="text/javascript" src="static/js/findeco.defaultCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.filters.js"></script>
    <script type="text/javascript" src="static/js/findeco.graph.js"></script>
    <script type="text/javascript" src="static/js/findeco.messageCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.microblogCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.navigationCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.searchCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.parser.js"></script>
    <script type="text/javascript" src="static/js/findeco.startCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.service.js"></script>
    <script type="text/javascript" src="static/js/findeco.structureParser.js"></script>
    <script type="text/javascript" src="static/js/findeco.userCtrl.js"></script>
    <script type="text/javascript" src="static/js/findeco.userInfoCtrl.js"></script>
    <script type="text/javascript" src="static/js/lib/localize.js"></script>

    <title>Findeco new Style</title>
</head>
<body ng-app="Findeco">
<div id="wrap">
    <div id="main">
        <div id="topMenu">
            <div id="header">
                <div id="headerContainer" class="centeringContainer">
                    <div id="headerContent" ng-controller="FindecoUserCtrl">
                        <h1>Findeco</h1>
                        <ul>
                            <li class="{{getActiveClass('/start')}}"><a href="#/start">Start</a></li>
                            <li class="{{getActiveClass('/aktuell')}}"><a href="#">Aktuelles</a></li>
                            <li class="{{getActiveClass('/content')}}"><a href="#">Inhalte</a></li>
                            <li class="{{getActiveClass('/search')}}" style="margin-left: 200px">
                                <div class="searchBox">
                                    <form action="" ng-submit="searchSubmit()">
                                        <p><input type="text" name="searchField" ng-model="searchString" /></p>
                                        <p><button class="searchButton" value=""></button></p>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <ul style="position: absolute; right: 0;">
                            <li  class="{{getActiveClass('/profile')}}" ng-show="user.isLoggedIn">
                                <a ng-href="#/profile">{{user.displayName}}</a>
                            </li>
                            <li ng-show="user.isLoggedIn">
                                <a ng-click="logout()" style="cursor:pointer; padding: 0;"><img src="static/images/logout.png" alt="Logout" height="18" style="position: relative; top: 3px; margin: 0 0 0 0;" /></a>
                            </li>
                            <li ng-show="!user.isLoggedIn" style="float:right"><a href="#/login" data-i18n="_accountLogin_"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="navigationBar" ng-controller="FindecoNavigationCtrl">
                <div class="centeringContainer">

                    <ul>
                        <li><a href="/#"><img ng-show="navigationEntries" src="static/images/home.png" alt="Home"/><img
                                ng-show="navigationEntries.length == 0" src="static/images/home_blue.png"
                                alt="Home"/></a></li>

                        <li ng-repeat="nav in navigationEntries"><a ng-href="{{ nav.path }}">{{ nav.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-view></div>

        <div ng-controller="FindecoUserCtrl" ng-show="false"></div>
    </div>

    <div id="messageBox" ng-controller="FindecoMessageCtrl" ng-show="service.messageList.length > 0">
        <div alert ng-repeat="message in service.messageList" type="message.type" close="closeMessage($index)">
            {{message.msg}}
        </div>
    </div>

</div>
<div id="footerWrap">
    <div id="footer">
        <ul>
            <li><a href="#/nutzungsbedingungen">Nutzungsbedingungen</a></li>
            <li><a href="#/impressum">Impressum</a></li>
            <li><a href="#/datenschutz">Datenschutzerklärung</a></li>
            <li><a href="#/kontakt">Kontakt</a></li>
            <li><a href="#/credits">Credits</a></li>
            <li><a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-by-SA 3.0</a></li>
        </ul>
    </div>
</div>

</body>
</html>